name: Release

# on:
#   schedule:
#     # * is a special character in YAML so you have to quote this string
#     - cron: "5 * * * *"
on: [push]

jobs:
  release:
    name: Release

    runs-on: macos-latest

    steps:

      - name: init
        uses: actions/checkout@v1
      
      - name: set node
        uses: actions/setup-node@v2
        with:
          node-version: 16 #lts/*

      - name: clone
        env:
          sha: ${{steps.sha.outputs.value}} 
        run: |
          ls -alF
          rm -rf *
          rm -rf .git
          rm -rf .github
          ls -alF
          git clone -b main ${{secrets.GIT_ADDRESS}} .
        shell: bash
        
      - name: install
        run: npm i
        
#       - name: brew install
#         run: brew install rpm
        
      - name: build
        run: npm run build:all

      - name: get package
        id: package
        uses: Ireoo/get-package@v1
        with:
          path: package.json
          key: version

      - name: create release
        id: release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: v${{steps.package.outputs.version}}
          release_name: V${{steps.package.outputs.version}}
          draft: false
          prerelease: false

      - name: Upload Release
        uses: Ireoo/upload-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          dir: build
          exts: '["exe", "dmg", "zip", "appimage", "deb", "rpm", "apk", "msi", "pkg", "appx"]'
          suffix: ""
